body{
    background: url(https://i.pinimg.com/originals/f4/51/99/f45199275498d7172fb435b317dacf74.jpg);
}
#DropArea{
    padding: 40px;
    box-shadow: inset 0 0 20px 0 #888;
    background-color: white;
    .drop-content{
        &.active{
            i{
                pointer-events: none;
                opacity: 1;
                visibility: visible;
                animation: icoAni 1s infinite;
            }
            p{
                pointer-events: none;
                transform: translateY(-30px);
            }
        }
        padding: 40px;
        border: 1px dashed brown;
        text-align: center;
        p{
            font-size: 1.2em;
            font-weight: 700;
            transition: .3s ease-in-out;
        }
        i{
            opacity: 0;
            visibility: hidden;
            transition: .3s ease-in-out;
        }
    }
   
}
@keyframes icoAni{
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(15px);
    }
}